{% extends "::baseAdmin.html.twig" %}

{% block body_admin %}

<p><span class="souligne-gras">Date de début de l'événement:</span> {% if entity.eventDateStart %}{{ entity.eventDateStart| localizeddate('full', 'none') }}{% endif %}</p>
<p><span class="souligne-gras">Date de fin de l'événement:</span> {% if entity.eventDateEnd %}{{ entity.eventDateEnd| localizeddate('full', 'none') }}{% endif %}</p>
<p><span class="souligne-gras">Est publié:</span> {% if entity.isVisible %}OUI{% else %}NON{% endif %}</p>
<p><span class="souligne-gras">Lien de réservation:</span> {% if entity.reservationLink is not empty %}{{entity.reservationLink}}{% else %}aucun lien de réservation{% endif %}</p>
{% include 'ShakyamouniSiteBundle:Commun:article.html.twig' with {'entity' : entity}  %}

<table class="action-button-table">
    <tbody>
        <tr>
            <td>
                Actions possibles: <span class="edit"><a href="{{ path('event_admin_edit', { 'id': entity.id }) }}" title="Edit"><img src="{{ asset('bundles/shakyamouniadmin/images/icons/pencil.png') }}" alt="Edit" /></a></span>
            </td>
            <td>
                <a href="{{ path('event_admin_delete', { 'id': entity.id }) }}" title="Delete"><img src="{{ asset('bundles/shakyamouniadmin/images/icons/cross.png') }}" alt="Delete" /></a> 
            </td>
        </tr>
    </tbody>
</table>
{% endblock %} 