{% extends "ShakyamouniSiteBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block _shakyamouni_userbundle_subscriptioneventtype_knowledge_row %}
    {{ 'subscription.center_discover'|trans() }}<br/>
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <div class="radio inline">
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %}
                multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock _shakyamouni_userbundle_subscriptioneventtype_knowledge_row %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
            <li><span class="flash-notice">{{ error.message }}</span></li>
                {%- endfor -%}
        </ul>
        {%- endif %}
        {%- endblock form_errors %}

        {% block body %}
            <section id="content" class="sbr">
                <div class="container clearfix">
                    <div class="sixteen columns row">
                        <div class="et-box et-shadow">
                            <div class="et-box-content">
                                <div class="body-text">
                                    <h2>{{ entity.title }}</h2><br/>
                                    <h3>{{ entity.subtitle }}</h3><br/>
                                    <article>
                                        <form action="{{ path('subscription_show', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} novalidate>
                                            <div id="shakyamouni_userbundle_subscriptioneventtype">
                                                <p>
                                                    {{ form_label(form.firstname, 'subscription.first_name'|trans~':') }} <span class="flash-notice">*</span><br/>
                                                    {{ form_widget(form.firstname, { 'attr': {'class': 'text-input medium-input'} }) }}  {% if form_errors(form.firstname) %}{{ form_errors(form.firstname) }}{% endif %}
                                                </p>

                                                <p>
                                                    {{ form_label(form.lastname, 'subscription.last_name'|trans~':') }} <span class="flash-notice">*</span><br/>
                                                    {{ form_widget(form.lastname, { 'attr': {'class': 'text-input medium-input'} }) }}

                                                    {% if form_errors(form.lastname) %}{{ form_errors(form.lastname) }}{% endif %}
                                                </p>

                                                <p>
                                                    {{ form_label(form.cellphone, 'subscription.phone'|trans~':') }}<br/>
                                                    {{ form_widget(form.cellphone, { 'attr': {'class': 'text-input medium-input'} }) }}

                                                    {% if form_errors(form.cellphone) %} <span class="input-notification error png_bg">{{ form_errors(form.cellphone) }}</span> {% endif %}
                                                </p>

                                                <p>
                                                    {{ form_label(form.email, 'subscription.email'|trans~':') }} <span class="flash-notice">*</span><br/>
                                                    {{ form_widget(form.email, { 'attr': {'class': 'text-input medium-input'} }) }}

                                                    {% if form_errors(form.email) %}{{ form_errors(form.email) }}{% endif %}
                                                </p>

                                                <h3><strong>{{ 'subscription.your_subscription'|trans() }}</strong></h3>
                                                <span style="display:block; margin-top:3px;">{{ 'subscription.one_form_per_person'|trans()|raw }}</span>
                                                {% if entity.percentage != 100 %}
                                                    <span style="display:block; margin-top:3px;">{{ 'subscription.arrhes'|trans({'%amount%': entity.percentage })|raw }}</span>
                                                {% endif %}

                                                <p>
                                                    {{ form_label(form.price, 'subscription.prices'|trans~':') }} <span class="flash-notice">*</span><br/>
                                                    {{ form_widget(form.price) }}

                                                    {% if form_errors(form.price) %} <span class="input-notification error png_bg">{{ form_errors(form.price) }}</span> {% endif %}
                                                </p>

                                                <p>
                                                    <strong>{{ form_label(form.additionnalInformation, 'subscription.additional_information'|trans~':') }}</strong><br/>
                                                    {{ 'subscription.suggestion_newsletter'|trans()|raw }}<br/>
                                                    {{ form_widget(form.additionnalInformation) }}

                                                    {% if form_errors(form.additionnalInformation) %}{{ form_errors(form.additionnalInformation) }}{% endif %}
                                                </p>

                                                <p id="knowledge">
                                                    {{ form_row(form.knowledge) }}
                                                    {{ form_widget(form.other, { 'attr': {'class': 'text-input medium-input'} }) }}
                                                    {% if form_errors(form.other) %}{{ form_errors(form.other) }}{% endif %}
                                                </p>

                                                <p>
                                                    {{ form_label(form.isOptin, 'subscription.optin'|trans()) }}<br/>
                                                    {{ form_widget(form.isOptin ) }}

                                                    {% if form_errors(form.isOptin) %}{{ form_errors(form.isOptin) }}{% endif %}
                                                </p>
                                            </div>
                                            <p>
                                                <button class="button-paiement" type="submit">{{ 'subscription.payment_button'|trans() }}</button>
                                            </p>
                                            {{ form_rest(form) }}
                                        </form>
                                    </article>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#shakyamouni_userbundle_subscriptioneventtype_other').hide();
                    if ($("input[name='shakyamouni_userbundle_subscriptioneventtype[knowledge]']:checked").val() == 'autre') {
                        $('#shakyamouni_userbundle_subscriptioneventtype_other').show();
                    } else {
                        $('#shakyamouni_userbundle_subscriptioneventtype_other').hide();
                    }

                    $("input[name='shakyamouni_userbundle_subscriptioneventtype[knowledge]']").click(function () {
                        if ($(this).val() == 'autre') {
                            $('#shakyamouni_userbundle_subscriptioneventtype_other').fadeIn();
                        } else {
                            $('#shakyamouni_userbundle_subscriptioneventtype_other').fadeOut();
                        }
                    });


                });
            </script>

        {% endblock %}