{% extends "::baseAdmin.html.twig" %}

{% block body_admin %}

<p><span class="souligne-gras">Catégorie:</span> {{ entity.category }}</p>
<p><span class="souligne-gras">Est publié:</span> {% if entity.isVisible %}OUI{% else %}NON{% endif %}</p>

{% include 'ShakyamouniSiteBundle:Commun:article.html.twig' with {'entity' : entity}  %}

<table class="action-button-table">
    <tbody>
        <tr>
            <td>
                Actions possibles: <span class="edit"><a href="{{ path('subcategory_admin_edit', { 'id': entity.id }) }}" title="Edit"><img src="{{ asset('bundles/shakyamouniadmin/images/icons/pencil.png') }}" alt="Edit" /></a></span>
            </td>
            <td>
                <a href="{{ path('subcategory_admin_delete', { 'id': entity.id }) }}" title="Delete"><img src="{{ asset('bundles/shakyamouniadmin/images/icons/cross.png') }}" alt="Delete" /></a> 
            </td>
        </tr>
    </tbody>
</table>

{% endblock %} 