{% set centerName = 'Centre bouddhiste Kadampa Shakyamouni' %}

{% if footerInfo.centerName is defined and footerInfo.centerName is not null %}
    {% set centerName = footerInfo.centerName %}
{% endif %}

<table style="width: 100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
    <tbody>
        <tr>
            <td align="center">
                <table style="width: 700px; position:relative" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td><img title="header newsletter" src="http://www.meditation-paris.org/uploads/newsletter/Banniere_Newsletter.jpg" alt="" width="850" height="319"/>
			    {#<span style="color: #000000; font-family: Arial; font-size: medium;position:absolute;bottom:10px;left:75px;">{{ manualTitle }}</span>#}
			    {#<a style="position:absolute; width:24px; height:24px;right:86px;top:57px" title="Facebook" href="https://www.facebook.com/centredemeditationkadampaparis?ref=hl" target="_blank"><img style="width:36px; height:36px;" src="https://pbs.twimg.com/profile_images/3513354941/24aaffa670e634a7da9a087bfa83abe6.png" alt="Facebook" /></a>#}
			    </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- /Header -->
<!-- Contenu principal -->
<table style="width: 100%; margin-top: -6px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="center"><!-- Titre - date -->
                <table style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding-bottom: 0px; width: 700px;" border="0" cellspacing="0" cellpadding="10">
                    <tbody>
                        <tr>
                            <td style="background: transparent url('http://www.kadampafrance.org/bim/images/bg-mois.jpg') repeat-x scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;" bgcolor="#e9e9e9" height="40">
                                <p align="center"><span style="color: #676767; font-family: Verdana, Helvetica, sans-serif; font-size: 15px;">{{ manualTitle }}</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="padding-bottom: 0px; width: 700px;" border="0" cellspacing="0" cellpadding="10">
                    <tbody>
                        <tr>
                            <td style="padding:0">
                                <p align="center" style="margin:0">
                                    <span style="color: #676767; font-family: Verdana, Helvetica, sans-serif; font-size: 11px;">
                                        {{ 'newsletter.spam_message' | trans({'%address%': '<a href="info@meditation-paris.org">info@meditation-paris.org</a>'})|raw }}
                                    </span>
                                </p>
                            </td>
                        </tr>
                </table>
                <!-- /Titre - date -->
                {% if isPmUploadable is defined and isPmUploadable is not null and isPmUploadable %}
                    <p style="text-align: center; font-size: 14px; font-family: Verdana, Helvetica, sans-serif; color:#808080">{{'newsletter.download_pm'| trans({'%center_name%': centerName})|raw}}, <a title="Calendrier" href="http://www.meditation-paris.org/uploads/calendrier/{{pm}}" target="_blank"><span style="text-decoration: underline;"><span style="color: #83a2e3; text-decoration: underline;">{{ 'newsletter.click_here'|trans }}</span></span></a></p>
                {% endif %}
                
                {% if sentence is defined and sentence is not empty %}
                    <p style="text-align: left;font-size: 14px; font-family: Verdana, Helvetica, sans-serif; color: #676767;">&nbsp; </p>
                    {{sentence|raw}}
                {% endif %}
                <p style="text-align: left;font-size: 14px; font-family: Verdana, Helvetica, sans-serif; color: #676767;">&nbsp;</p>
                <!-- Contenu -->
                <table style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; width: 700px;" cellspacing="0" cellpadding="10">
                    <tbody>
                        <tr>
                            <td><!-- Article horizontal -->

                                {#% for article in entity.newsletterarticles %#}
                                {% for article in newsletterarticles %}
                                    <table style="border-bottom: 1px solid #ebebeb; padding-bottom: 25px;" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
						    {% if article.event is defined and article.event is not null %}
                                                            {% set url = url('subcategoryevent_show', {'subcategory_slug': article.event.subCategoryEvent.slug })~'#'~article.event.slug %}
                                                            {% if article.isReservationLink %}
                                                                {% set url_reservation = article.event.reservationLink %}
                                                            {% endif %}
                                                    {% elseif article.articleLie is defined and article.articleLie is not null %}
                                                        {% set url = url('subcategory_show', { 'category_slug': article.articleLie.subCategory.category.slug, 'subcategory_slug': article.articleLie.subCategory.slug })~'#'~article.articleLie.slug %}
                                                    {% elseif article.articleevent is defined and article.articleevent is not null %}
                                                        {% set url = url('subcategoryarticleevent_show', {'subcategory_slug': article.articleevent.event.subcategoryEvent.slug, 'event_slug': article.articleevent.event.slug })~'#'~article.articleevent.slug %}
                                                        {% if article.isReservationLink %}
                                                            {% set url_reservation = article.articleevent.reservationLink %}
                                                        {% endif %}
                                                    {% elseif article.subCategory is defined and article.subCategory is not null %}
                                                        {% set url = url('subcategory_show', { 'category_slug': article.subCategory.category.slug, 'subcategory_slug': article.subCategory.slug }) %}
                                                    {% else %}
                                                        {% set url = '#' %}
                                                    {% endif %}
						
                                                    {% if article.picture is defined and article.picture is not null and article.picture is not empty and article.picture != "noimage.jpg" %}
                                                        {% if url != '#' %}<a href="{{ url }}" target="_blank">{% endif %}
                                                            <img style="width: 676px;" src="http://www.meditation-paris.org/uploads/newsletter/{{article.picture}}" alt="" width="676" height="254" />
                                                        {% if url != '#' %}</a>{% endif %} <!-- Boutons -->
                                                        <!-- /Boutons --> <!-- Texte -->
                                                        <br/>
                                                    {% endif %}
                                                    <p style="line-height: 20px; text-align: justify; font-size: 13px; margin-bottom: 10px; font-family: Arial; color: #676767;">{{article.body|raw}}</p>
                                                    <table style="margin-bottom: 10px;" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                {% if url is defined and url is not null and url != "#" %}
                                                                    <td><a href="{{ url }}" target="_blank"><img src="http://www.meditation-paris.org/uploads/newsletter/bouton_plus.jpg" alt="" width="114" height="26" /></a></td>
                                                                {% endif %}
                                                                    
                                                                {% if article.isReservationLink is defined and article.isReservationLink is not null and article.isReservationLink %}
                                                                    <td style="padding-left: 10px;"><a href="{{url_reservation}}" target="_blank"><img src="http://www.meditation-paris.org/uploads/newsletter/bouton_inscription.jpg" alt="" width="123" height="26" /></a></td>
                                                                {% endif %}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<!-- Pied de page -->
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#2c2c2c">
    <tbody>
        <tr>
            <td align="center">
                <table style="width: 700px;" border="0" cellspacing="10" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" width="390">
                                <table border="0" cellspacing="5" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td align="left" width="70"><img src="http://www.kadampafrance.org/bim/images/logo.png" alt="" /></td>
                                            <td>
                                                <p style="font-size: 12px;"><span style="color: #ffffff; font-family: Arial;"> &copy; {{ "now"|date('Y') }} {{centerName}}. Tous droits r&eacute;serv&eacute;s. Centre bouddhiste membre de la Nouvelle Tradition Kadampa et de l'Union Internationale du Bouddhisme Kadampa </span></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top">
                                <table cellspacing="5" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top"><img src="http://www.kadampafrance.org/system/images/theme/user_white.png" alt="" /></td>
                                            <td valign="top">
                                                {% if footerInfo.centerName is defined and footerInfo.centerName is not null %}
                                                    <p style="margin: 0px; padding: 0px; font-size: 12px;"><span style="color: #ffffff; font-family: Arial;">{{footerInfo.centerName}}</span></p>
                                                {% endif %}
                                                {% if footerInfo.street is defined and footerInfo.street is not null %}
                                                    <p style="margin: 0px; padding: 0px; font-size: 12px;"><span style="color: #ffffff; font-family: Arial;">{{footerInfo.street}} {{footerInfo.town}}</span></p>                           
                                                {% endif %}

                                                {% if footerInfo.metro is defined and footerInfo.metro is not null %}
                                                    <p style="margin: 0px; padding: 0px; font-size: 12px;"><span style="color: #ffffff; font-family: Arial;">{{footerInfo.metro}}</span></p>
                                                {% endif %}

                                                {% if footerInfo.building is defined and footerInfo.building is not null %}
                                                    <p style="margin: 0px; padding: 0px; font-size: 12px;"><span style="color: #ffffff; font-family: Arial;">{{footerInfo.building}}</span></p>
                                                {% endif %}

                                                {% if footerInfo.interphone is defined and footerInfo.interphone is not null %}
                                                    <p style="margin: 0px; padding: 0px; font-size: 12px;"><span style="color: #ffffff; font-family: Arial;">{{footerInfo.interphone}}</span></p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% if footerInfo.phoneNumber is defined and footerInfo.phoneNumber is not null %}
                                            <tr>
                                                <td valign="top"><img src="http://www.kadampafrance.org/system/images/theme/speech_white.png" alt="" /></td>
                                                <td valign="top">
                                                    <p style="margin: 0px; padding: 0px; font-size: 12px;"><span style="color: #ffffff; font-family: Arial;"> T&eacute;l. {{footerInfo.phoneNumber}} </span></p>
                                                    &nbsp; &nbsp;</td>
                                            </tr>
                                        {% endif %}
                                        {% if footerInfo.email is defined and footerInfo.email is not null %}
                                            <tr>
                                                <td valign="top"><img src="http://www.kadampafrance.org/system/images/theme/mail_white.png" alt="" /></td>
                                                <td valign="top">
                                                    <p style="margin: 0px; padding: 0px; font-size: 12px;"><span style="color: #ffffff; font-family: Arial;"> <a style="color: #a6a6a6;" href="mailto:{{footerInfo.email}}">{{footerInfo.email}}</a> </span></p>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>